@model dendrOnline.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore.Markdown
@addTagHelper *, Htmx.TagHelpersTModel

<div id="toolBar" hx-swap-oob="true">
    <button href="#" hx-get="@Url.Page("Index", "Display")&toggle=editor&note=@Model.CurrentNote" hx-target="#xContent" style="cursor: pointer;padding: 10px">
        <span class="material-symbols-outlined">Edit</span>
    </button>
    <button href="#" hx-get="@Url.Page("Index", "Display")&toggle=content&note=@Model.CurrentNote" hx-target="#xContent" style="cursor: pointer;padding: 10px">
        <span class="material-symbols-outlined">Visibility</span>
    </button>
    
    @{
        var display = Model.IsNoteDirty ? "" : "display:none";
    }
    <button href="#" hx-get="@Url.Page("Index", "Undo")&note=@Model.CurrentNote" hx-target="#xContent" style="cursor: pointer;padding: 10px;@(display)">
        <span class="material-symbols-outlined">Undo</span>
    </button>
    <button type="submit" name="Save" style="cursor: pointer;padding: 10px;@(display)"><span class="material-symbols-outlined">Save</span></button>
</div>

